* {
    color: #000000;
    box-sizing: border-box;
}

.wrapper {
    width: 1325px;
    margin: 0 auto;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

::-webkit-scrollbar {
    width: 0;
}

/*-----INTRO-------*/
#intro {
    height: 100vh;

    background: url('../img/backgrounds/intro.jpg') 50% 0 no-repeat;
    background-size: cover;
}

.intro-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: 50px 0 200px 0;
}


.intro-header-nav ul {
    display: flex;
    align-items: center;
}


.intro-header-nav a {
    display: block;
    padding: 0 20px;
    line-height: 40px;
    border: 1px solid transparent;
    text-decoration: none;
    border-radius: 100px;
}

.intro-header-nav a:hover {
    border-color: #565656;
}

.intro-main {
    text-align: center;
}

.intro-main h1 {
    display: block;
    margin: 0px 0px 10px 0px;

    font-size: 48px;
    line-height: 36px;
}

.intro-main span {
    display: block;
    font-size: 18px;
    line-height: 30px;
    color: #adadac;
}

.intro-main-center {
    margin-bottom: 65px;
}

.btn {
    display: inline-block;
    padding: 10px 55px 10px 55px;

    color: #ffffff;
    font-size: 18px;
    line-height: 36px;


    background-image: -webkit-linear-gradient( 16deg, rgb(73,0,124) 0%, rgb(231,0,136) 100%);

    border-radius: 30px;
    text-decoration: none;
}

/*----ADVANTAGES-----*/
#advantages {
    width: 100%;

    color: #ffffff;
    background: url('../img/backgrounds/pr.jpg') 50% 50% no-repeat;
    background-size: cover;
}


.advantages-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.advantages-list-item {
    width: 585px;

    padding: 120px 0px 110px 0;

    color: #ffffff;

}

.advantages-list-item h2, .advantages-list-item span, .advantages-list-item p{
    color: inherit;
}


.advantages-list-item > h2 {
    font-size: 48px;
    line-height: 36px;
    font-weight: 300;
}

.advantages-list-item h2 > span {
    font-weight: 600;
}

.advantages-list-item .btn {
    margin-top: 45px;
}

.advantages-list-item:nth-child(2) {
    margin-left: 350px;
}


/*------What we do?--------*/
#what-we-do {
    background-color: #ffffff;
}

.what-we-do-list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    align-content: space-between;

}

.what-we-do-h2 {
    margin: 0;
    text-align: center;

    padding-top: 100px;
    padding-bottom: 20px;


    font-size: 48px;
    line-height: 36px;
}


.what-we-do-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 590px;

    margin-bottom: 50px;
}

.what-we-do-list-item span {
    display: block;
    margin-right: 45px;
}

.what-we-do-list-item p {
    color: #c9c9c9;
    padding-right: 30px;
}

.what-we-do-list-item h3 {
    font-size: 30px;
    line-height: 36px;
}

.what-we-do-list-item:nth-child(1) span {
    width: 104px;
    height: 94px;
    background: url('../img/what-we-do/web-design.png');
}

.what-we-do-list-item:nth-child(2) span {
    width: 136px;
    height: 81px;

    background: url('../img/what-we-do/web-apps.png');
}

.what-we-do-list-item:nth-child(3) span {
    width: 107px;
    height: 102px;

    background: url('../img/what-we-do/digital-painting.png');
}

.what-we-do-list-item:nth-child(4) span {
    width: 125px;
    height: 98px;

    background: url('../img/what-we-do/desktop-apps.png');
}

.what-we-do-btn {
    margin: 20px 0px 100px 540px;
}


/*------Slider-------*/

.slider {
    margin-top: 100px;
}

.slider ul {
    overflow: hidden;
}

.slider li {
    position: relative;
    float: left;
    width: calc(100vw/3);

    text-align: center;

}

.slider li:hover .hover-block {
    display: block;
}

.slider li img {
    display: block;
    width: 100%;
    height: auto;
}

.slider .hover-block {
    display: none;
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0, .63);
    color: #fff;
}

.slider .hover-wrap {
    display: table;
    width: 100%;
    height: 100%;
}

.slider .table-cell-wrap {
    display: table-cell;
    vertical-align: middle;
}

.slider h4 {
    margin-bottom: 20px;
    font: 30px "ProximaBold", sans-serif;

    color: #ffffff;
}

.slider p {
    margin-bottom: 55px;
    font-size: 16px;
    line-height: 24px;

    color: #ffffff;
}


/*-----ABOUT-US-----*/
.about-us {
    width: 100%;

    background: url('../img/backgrounds/about-us.jpg') 50% 50% no-repeat;
    -webkit-background-size: cover;
    background-size: cover;

}

.about-us-list {
    display: flex;
    justify-content: space-around;
    align-items: center;

    text-align: center;
}

.about-us-list-item {
    width: 230px;
}

.about-us-list-item div, .about-us-list-item h3, .about-us-list-item p  {
    color: #ffffff;
}

.about-us-list-item  div {
    background: #ffffff;
    width: 140px;
    height: 140px;

    margin: 0 auto;
    border-radius: 50%;
}

.about-us-h2 {
    margin: 0;
    text-align: center;

    padding-top: 100px;

    color: #ffffff;
    font-size: 48px;
    line-height: 36px;
}

.about-us-p {
    color: #c9c9c9;
    width: 660px;
    margin: 40px auto 130px auto;
    text-align: center;
}

.about-us-btn {
    margin: 100px 0px 100px 550px
}

/*Google map*/
#map iframe{
    width: 100%;
    min-height: 600px;
}